@import url(styles/header.css);
@import url(styles/sobrenos.css);
@import url(styles/vagas.css);

:root{
    --branco: #ffffff;
    --branco-contorno:#EAECF0;
    --fonte-principal:"Inter";
    --cinza:#101828;
    --cinza-titulo:#3a404e;
    --cinza-subtitulo: #667085;
    --vermelho:#8E2424;
    --vermelho-transparente:#8e24240d;
    --vermelho-claro: #ce7171;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}