.sobrenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobrenos__subtitulo{
    color: var(--vermelho);
    font-size: 16px;
    font-weight: 600;
    margin-top: 2em;
}

.sobrenos__titulo{
    font-size: 48px;
    font-weight: 600;
    color: var(--cinza);
    margin: 0.7em 0;
}

.sobrenos__texto{
    font-size: 20px;
    font-weight: 400;
    padding:0 22%;
    text-align: center;
    color: var(--cinza-subtitulo);
}

.sobrenos__metas{
    display: flex;
    margin: 8em 8em 0 8em;
    column-gap: 2em;
    }

.metas__block{
    width: 20vw;
}
.metas__titulo{
    color: var(--vermelho);
    font-size: 60px;
    font-weight: 600;
}

.metas__subtitulo{
    font-size: 18px;
    color:var(--cinza);
    margin: 1em 0 0.5em 0;
    font-weight: 500;
}

.metas__texto{
    font-size:16px ;
    font-weight: 400;
    color: var(--cinza-subtitulo);
}


@media screen and (max-width:720px ){

    .sobrenos__titulo{
        text-align: center;
    }

    .sobrenos__texto{
        padding: 0 5% ;
    }
    .sobrenos__metas{
        margin: 4em 4em 0 4em;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .metas__block{
        display: flex;
        width: 80vw;
        
    }
    .metas__titulo{
        
    }
}